.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  /* text-decoration: underline; */
  color: #2A77AE;
  margin-bottom: 50px;
}


.incorrect-style{
  color: red;
  animation-name: example1;
  animation-duration: 1s;
}

.correct-style{
  color: green;
}

@keyframes example1 {
  0%   {color: red;}
  100%  {color: #2A77AE;}
}





